.hidden {
    display: none;
  }
  
label {
  margin-bottom: 10px;
  display: block;
}

.pizza {
  margin-top: 50px
}

.profile {
  margin-top: 50px
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

img {
  border-radius: 50%;
}